.DS_Store

# secrets
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# dependencies
node_modules/
frontend/node_modules/
venv/
.venv/
__pycache__/
*.pyc

# builds
build/
frontend/build/
dist/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/.git.backup/
backend/__pycache__/
